---
title: My Shop
layout: layout.njk
path: ../../css
pagination:
  data: items
  size: 1
  alias: item
permalink: 'goods/{{ item.url | slugify }}/'
---


<header class="header">
<div class="items">
<a href="../../index.html">
<h1 class="title">{{ title }}</h1>
</a>
<div class="cart">
<img src="../../goods/cart.png">
</div>
</div>
</header>
<main class="main">
<div class="inner_single">
<div class="items_img">
<img class="goods__main" src="../{{ item.itemphotos[0] }}" alt="">
<div class="goods__imglist">
  <img class="goods__item" src="../{{ item.itemphotos[0] }}" alt="">
  <img class="goods__item" src="../{{ item.itemphotos[1] }}" alt="">
  <img class="goods__item" src="../{{ item.itemphotos[2] }}" alt="">
</div>
</div>
<div class="items_all">
<h3 class="title_goods">{{ item.name }}</h3>
<h2 class="subtitle_goods">{{ item.price }}</h2>
<div class="li_about">
  <li class="goods_about">●品番　{{ item.id }}</li>
  <li class="goods_about">●カラー　{{ item.colors }}</li>
  <li class="goods_about">●サイズ　{{ item.size }}</li>
</div>
<div class="num_goods">
<li>数量</li><input type="number" name="num" id="num" min="0" max="1">
</div>
<p class="cart_btn">カートに入れる</p>
<li class="item_about">※送料無料</li>
<li class="item_about">※ラッピングも可能</li>
<li class="item_about">※お一人様一点限りとさせていただきます。</li>
</div>
</div>
</main>
<footer class="footer">
<div class="small">
<small>©My Shop 2022</small>
</div>
</footer>
<script src="../../js/script.js"></script>