---
title: My Shop
layout: layout.njk
path: ./css
---

<header>
    <div class="items">
        <h1 class="title">{{ title }}</h1>
        <nav>
            <ul>
                <li>home</li>
                <li>about</li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="subtitle">
        <h2>item</h2>
    </div>
    <div class="contents">
        {% for item in items %}
            <h3>{{ item.name }}</h3>
            <p>{{ item.price }}</p>
        {% endfor %}
    </div>
</main>
<footer>
    <div class="small">
        <small>©My Shop 2022</small>
    </div>
</footer>